@import '../../vars';

.projects {
  grid-column: 1 / -1;
  background-color: #f5f5f5;
  grid-row: 3;
  transform: skewY($angle) translateY(-14%);

  h3 {
    color: #4b4b4b;
  }

  /** carousel container.
  * It wrapper the whole carousel.
  */
  .container {
    height: auto;
    width: 100vw;
    height: 70%;
    display: flex;
    background-color: #f6f6f6;

    /**
    * This encapsulate the root div
    */
    .carousel-root {
      outline: none;
      //border: 1px solid red;
      width: 100%;
      height: 100%;
      margin-left: 6.06rem;
      margin-right: 6.06rem;
    }

    .presentation-mode {
      //border: 1px solid red;
      display: flex;
    }

    .carousel__item {
      //border: 1px solid red;
      height: 78vh;
      width: 95%;
      display: flex;
      margin: 0 auto;

      /* wrapper for project description and tecnologies images */
      &__desc {
        //border: 1px solid teal;

        //define the size of the project description
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__tecnologies {
          //border: 1px solid red;
          height: 26%;
          width: 90%;
          background-color: rgba(196, 196, 196, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          img {
            margin-right: 1.5rem;
            width: 6.5rem;
            height: auto;
            object-fit: cover;

            @media only screen and (max-width: $bp-largest) {
              width: 5rem;
            }

            @media only screen and (max-width: $bp-large) {
              width: 4rem;
            }
          }
        }

        /* tittle and date of the project development */
        &__title {
          //border: 1px solid red;
          width: 100%;
          text-align: left;

          p {
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 1.6rem;
            padding-top: 1rem;
          }
        }

        /* description paragraphs*/
        &__paragraphs {
          //border: 1px solid red;
          width: 90%;
          color: $primary-color;
          text-align: left;
          font-size: 2.2rem;
          line-height: 1.6;
          display: flex;
          flex-direction: column;
          letter-spacing: -0.4px;
          

          p {
            margin: 1.2rem 0;

            @media only screen and (max-width: $bp-largest) {
              font-size: 1.5rem;
              justify-content: space-between;
            }
          }
        }

        &__cta {
          width: 100%;
          //border: 1px solid red;
          /* cta github */
          text-align: left;
          button {
            background-color: $secondary-color;
            padding: 1.2rem 1.7rem;
            color: $white;
            border: none;
            //border: 2px solid $primary-color;
            border-radius: 5px;
            font-size: 1.8rem;
            transition: opacity 0.3s ease-in border 0.3s ease;

            &:hover {
              opacity: 0.8;
              cursor: pointer;
            }
            //border: 1px solid red;
            @media only screen and (max-width: $bp-largest) {
              font-size: 1.5rem;
            }
          }
        }
      }

      &__picture {
        width: 70%;
        transition: filter 0.5s ease-in-out;
        filter: grayscale(100%);

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          //border: 1px solid red;
        }
        &:hover {
          cursor: pointer;
          filter: grayscale(0);
        }
      }
    }
  }

  & > * {
    transform: skewY(-$angle);
  }
}
