@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    25% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.8;
        transform: translateY(-50vh);
    }

    80% {
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 6px;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 6px;
        transform: scale(1);
    }
}

.loading {
  grid-column: 1 / -1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #f75d37;
  background-color: inherit;
  position: relative;
  transition: all 2s ease;

  svg {
    animation: moveInBottom 4s ease;
    animation-fill-mode: forwards;
    position: absolute;
    left: 50%;
  }
}
