@import '../../vars';

/* header */
.header {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: $primary-color;

  &__wrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        height: 8rem;
        display: flex;
        border-left: 2px solid $primary-color;
      }

      display: flex;
      flex-direction: column;
      width: 5rem;

      a:hover {
        opacity: 0.5;
      }
    }
  }

  &__nav {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    height: 7rem;
    position: relative;

    &__logo {
      position: absolute;
      left: 50%;
      width: 5.5rem;
      top: 6px;

      svg {
        width: 100%;
        height: 50%;
      }
    }

    ul {
      width: 25vw;
      margin-left: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;

      @media only screen and (max-width: $bp-largest) {
        width: 30vw;
      }

      @media only screen and (max-width: $bp-medium) {
        display: none;
      }

      li {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.6rem;
        }
        a {
          text-decoration: none;
          color: inherit;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__hero {
    margin-top: 34.55rem;
    margin-left: 14.75rem;
    margin-right: 14.75rem;
    color: $white;
    display: flex;
    align-items: center;

    //border: 1px solid red;

    .header__hero__name {
      //border: 1px solid teal;
      display: flex;
      flex-direction: column;
      width: 40%;

      h1 {
        font-size: 5rem;
        font-weight: normal;
      }

      h2 {
        font-size: 2.5rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    &__container {
      //border: 1px solid red;
      margin-left: auto;
      width: 50rem;
      height: 50%;
      display: inline-block;
      //transform: translateY(20rem);
    }
    .bar {
      background: #ffffff;
      width: 10px;
      height: 100px;
    }
    .bar1 {
      float: left;
    }
    .bar2 {
      float: right;
    }
    .ball {
      background: #ffffff;
      width: 10px;
      height: 10px;
      position: relative;
      top: 45px;
      left: 10px;
    }
  }
}
