@import '../../vars';

.footer {
  /* footer position */
  grid-column: 1 / -1;
  grid-row: 5;
  background-color: $primary-color;

  /* text rules */
  font-size: 1.3rem;
  color: $white;
  text-align: center;
  letter-spacing: 0.1rem;
  //transform: translateY(-5vh);
}
