///font
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");


$font-stack: "Nunito Sans", sans-serif;
//COLOURS
$primary-color: #191b1e;
$secondary-color: #4b6cc1;

//others
$white: #fff;


//layout breakpoints

$bp-largest: 85em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

//angle of sections
$angle: 6deg;