/*reset */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //define the 1rem value = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  background-color: #191b1e;
}

.app {
  display: grid;
  grid-template-rows: 120vh 90vh 100vh 90vh 5vh;
  grid-template-columns: repeat(12, minmax(min-content, 16rem));
  color: #fff;
  //background-color: #fff;
}

.heading__secondary {
  //border: 1px solid red;
  margin-left: 12rem;
  margin-top: 15rem;
  color: #191b1e;
  height: auto;
  //border: 1px solid red;
  display: flex;
  align-items: center;
  width: 30vw;

  &__number {
    margin-right: 3.2rem;
    //border: 1px solid red;
    color: #4b6cc1;
    font-size: 2rem;
  }

  h2 {
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8rem;
  }
}

/* header */
.header {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: #191b1e;

  &__wrapper {
    //background-color: #191B1E;
    position: fixed;
    z-index: 1;
    //border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //z-index: 5;
      //border: 1px solid red;
      span {
        height: 8rem;
        display: flex;
        border-left: 2px solid #191b1e;
      }
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      width: 5rem;

      a:hover {
        opacity: 0.5;
      }
    }
  }

  &__nav {
    background-color: #191b1e;
    width: 100%;
    display: flex;
    height: 7rem;
    //border: 1px solid red;
    position: relative;

    &__logo {
      position: absolute;
      left: 50%;
      //border: 1px solid teal;
      width: 5.5rem;

      svg {
        width: 100%;
        height: 50%;
      }
    }

    ul {
      //border: 1px solid green;
      width: 20vw;
      margin-left: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;

      @media only screen and (max-width: $bp-largest) {
        width: 25vw;
      }

      li {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &__hero {
    margin-top: 34.55rem;
    margin-left:  14.75rem;

    h1 {
      font-size: 5rem;
      font-weight: normal;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}

.about {
  grid-column: 1 / -1;
  grid-row: 2;
  background-color: #fff;
  transform: skewY(+10deg) translateY(-25%);
  //border: 1px solid red;

  &__wrapper {
    color: #191b1e;
    margin-left: 9.06rem; 
    //border: 1px solid red;
    display: flex;
    height: 50vh;

    &__img {
      width: 37.3rem;
      height: 41.16rem;
      //border: 1px solid teal;
      background-color: #c4c4c4;
    }

    &__description {
      align-self: flex-center;
      margin-bottom: 1rem;
      height: 40rem;
      width: 70%;
      margin-left: 8rem;
      margin-right: 9.9rem;
      //border: 1px solid green;
      font-size: 1.7rem;
      line-height: 1.8;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  & > * {
    transform: skewY(-10deg);
  }

  //clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
}


.contact {
  grid-row: 4;
  grid-column: 1 / -1;
  color: #191b1e;
  background-color: #fff;
  transform: skewY(+10deg) translateY(-30%);

  &__info {
    //border: 1px solid red;
    display: flex;
    margin-left: 9.06rem;
    height: 50vh;
    //justify-content:space-between;

    &__form {
      //border: 1px solid green;
      width: auto;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        height: 8.9rem;
        width: 59.02rem;
        font-size: 5rem;
        border: 2px solid #4b6cc1;
        border-radius: 5px;

        &:last-of-type {
          height: 16rem;
        }
      }

      button {
        width: 17.48rem;
        height: 6.06rem;
        align-self: flex-end;
        background-color: #4b6cc1;
        color: #fff;
        border: 2px solid #191b1e;
        border-radius: 5px;
        font-size: 2rem;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }

    &__contact {
      margin-left: 9.2rem;
      //border: 1px solid blue;
      width: 50%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__details {
        //border: 1px solid red;
        height: 70%;

        h2 {
          text-transform: uppercase;
          font-size: 3rem;
          font-weight: normal;
        }

        p {
          font-size: 1.8rem;
        }

        div:first-child {
          //border: 1px solid teal;
          height: 7.268rem;
          width: 18.816rem;
          margin-bottom: 5.2rem;
        }

        div:last-child {
          width: 27.61rem;
          //border: 1px solid green;
        }
      }
    }

    &__icons {
      //border: 1px solid red;
      .icon {
        font-size: 2.8rem;
        color: #4b6cc1;
        margin-right: 5rem;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  & > * {
    transform: skewY(-10deg);
  }
}

.footer {
  grid-row: 5;
  background-color: #191b1e;
  grid-column: 1 / -1;
  //border: 1px solid red;
  text-align: center;
  letter-spacing: 0.4px;
  font-size: 1.2rem;
}
.fixed {
  opacity: 0.5;
}
