/*reset */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

@import 'vars';
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //define the 1rem value = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  background-color: #191b1e;
}

.app {
  display: grid;
  grid-template-rows: 120vh 90vh 100vh 90vh 5vh;
  grid-template-columns: repeat(12, minmax(min-content, 16rem));
  color: #fff;
  //background-color: #fff;
}

.heading__secondary {
  //border: 1px solid red;
  margin-left: 12rem;
  margin-top: 15rem;
  color: #191b1e;
  height: auto;
  //border: 1px solid red;
  display: flex;
  align-items: center;
  width: 30vw;

  &__number {
    margin-right: 3.2rem;
    //border: 1px solid red;
    color: #4b6cc1;
    font-size: 2rem;
  }

  h2 {
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8rem;
  }
}


.fixed {
  opacity: 0.5;
}
