/*reset */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //define the 1rem value = 10px
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  background-color: #191b1e;
}

.app {
  display: grid;
  grid-template-rows: 120vh repeat(3, 90vh) 5vh;
  grid-template-columns: repeat(12, minmax(min-content, 16rem));
  color: #fff;
  //background-color: #fff;
}

.heading__secondary {
  margin-left: 150px;
  margin-top: 150px;
  color: #191b1e;
  height: 10vh;
  //border: 1px solid red;
  display: flex;
  align-items: center;
  width: 30vw;

  &__number {
      margin-right: 32px;
      //border: 1px solid red;
      color: #4B6CC1;
      font-size: 2rem;
  }

  h2 {
    font-size: 33px;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 10px;
  }
}

/* header */
.header {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: #191b1e;

  &__wrapper {
    //background-color: #191B1E;
    position: fixed;
    z-index: 2;
    //border: 1px solid red;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 5;
      span {
        height: 8rem;
        display: flex;
        border-left: 2px solid #191b1e;
      }
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      width: 20rem;

      a:hover {
       opacity: 0.5;
      }
    }
  }

  &__nav {
    background-color: #191b1e;
    width: 100%;
    display: flex;
    height: 70px;
    //border: 1px solid red;
    position: relative;

    &__logo{
      position: absolute;
      left: 50%;
      //border: 1px solid teal;
    }

    ul {
      //border: 1px solid green;
      width: 20vw;
      margin-left: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;

      li{
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &__hero {
    margin-top: 345.56px;
    margin-left: 147.5px;

    h1 {
      font-size: 50px;
      font-weight: normal;
    }

    h2 {
      font-size: 25px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}

.about {
  grid-column: 1 / -1;
  grid-row: 2;
  background-color:#fff;
  transform: skewY(+10deg) translateY(-25%);
  //border: 1px solid red;

  &__wrapper{
    color: #191b1e;
    margin-left: 90.66px;
    //border: 1px solid red;
    display: flex;
    height: auto;

    &__img{
      width: 373px;
      height: 411.59px;
      //border: 1px solid teal;
      background-color: #C4C4C4;

    }

    &__description{
      align-self: flex-end;
      margin-bottom: 1rem;
      height: 30rem;
      width: 70%;
      margin-left: 80px;
      margin-right: 99px;
      //border: 1px solid green;
      font-size: 17px;
      line-height: 1.8;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  & > * {
    transform: skewY(-10deg);
  }

  //clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
}

.projects {
    grid-column: 1 / -1;
    background-color: #f5f5f5;
    grid-row: 3;
    transform: skewY(+10deg) translateY(-26%);



    & > * {
      transform: skewY(-10deg);
    }
}

.contact {
  grid-row: 4;
  grid-column: 1 / - 1;
  color: #191b1e;
  background-color: #fff;
  transform: skewY(+10deg) translateY(-30%);


  & > * {
    transform: skewY(-10deg);
  }

}

.footer {
  grid-row: 5;
  background-color: #191b1e;
  grid-column: 1 / - 1;
  //border: 1px solid red;
  text-align: center;
  letter-spacing: 0.4px;
  font-size: 12px;
}
.fixed {
  opacity: 0.5;
}


